// Блок: progress
.progress {
  width: 100%;
  height: 10px;
  background-color: var(--secondary);
  overflow: hidden;

  &__bar {
    height: 100%;
    background-color: var(--primary);
    transition: width 0.5s ease-in-out;

    &--half {
      width: 50%;
    }
  }
}

// Блок: cart
.cart {
  &__header {
    width: 100%;
    padding: 18px;
    align-items: center;
    display: flex;
    flex-direction: row;

    > h3 {
      flex: 1;
      font-size: 17px;
      font-weight: 400;
      color: var(--gray);
      margin: 0;
    }
  }

  &__clear-btn {
    flex-shrink: 0;
    padding: 21px 27px;
    border-radius: 20px;
    background-color: var(--background-secondary);
    border: none;
    color: var(--gray);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px 100px;
  }

  &__card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
  }

  &__image {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 12px 0 12px 12px;
    width: 110px;
  }

  &__title {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    color: #000;
    line-height: 1.2;
  }

  &__price {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
    margin: 8px 0 0 0;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
  }

  &__counter-btn {
    background: none;
    border: 0;
    border-radius: 50%;
    font-size: 22px;
    padding: 6px 10px;
    cursor: pointer;
    color: #555;
  }

  &__counter-value {
    min-width: 24px;
    text-align: center;
  }

  &__footer {
    position: fixed;
    bottom: 90px;
    left: 0;
    right: 0;
    padding: 12px 16px;
    z-index: 100;
  }

  &__fee-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 10px 14px;
    border-radius: 14px;
    background-color: #fff;
    color: var(--gray);
    font-size: 14px;
  }

  &__checkout-btn {
    width: 100%;
    padding: 16px;
    background-color: var(--primary);
    color: white;
    font-size: 17px;
    height: 64px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
}
