.menu {
  position: fixed;
  bottom: 0;
  background-color: var(--background);
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 99999;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);


  &-icon {
    border: 0;
    background-color: transparent;
    width: 70px;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707579;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.15s ease;

    &:active {
      transform: scale(0.92);
    }


  }
}

.icon-wrapper {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  position: relative;


}

.active-icon {
  background-color: var(--primary);
  color: #ffffff;
}
.cart{
  margin-left: -3px;
}

.cart-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  border-radius: 999px;
  background: #e63946;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
