.menu {
  position: fixed;
  bottom: 0;
  background-color: var(--background);
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 99999;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);


  &-icon {
    border: 0;
    background-color: transparent;
    width: 70px;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707579;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.15s ease;

    &:active {
      transform: scale(0.92);
    }


  }
}

.icon-wrapper {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;


}

.active-icon {
  background-color: var(--primary);
  color: #ffffff;
}
.cart{
  margin-left: -3px;
}