.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading {
  background: var(--primary);
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  animation-delay: 0.16s !important;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    content: '';
    background: var(--primary);
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
  }

  &::before {
    left: -19.992px;
  }

  &::after {
    left: 19.992px;
    animation-delay: 0.32s !important;
  }
}

@keyframes loading-keys-app-loading {
  0%, 80%, 100% {
    opacity: .75;
    box-shadow: 0 0 var(--primary);
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px var(--primary);
    height: 40px;
  }
}
